### Vaccine prediction

In [7]:
import pandas as pd
import numpy as np

vaccine_data=pd.read_csv(r"C:\Users\Vicky Yewle\Downloads\Machine Learning\VaccineUsagePrediction\Vaccine Usage Prediction\Dataset\h1n1_vaccine_prediction.csv")
vaccine_data.head()

,unique_id,h1n1_worry,h1n1_awareness,antiviral_medication,contact_avoidance,bought_face_mask,wash_hands_frequently,avoid_large_gatherings,reduced_outside_home_cont,avoid_touch_face,...,race,sex,income_level,marital_status,housing_status,employment,census_msa,no_of_adults,no_of_children,h1n1_vaccine
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,White,Female,Below Poverty,Not Married,Own,Not in Labor Force,Non-MSA,0.0,0.0,0
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,White,Male,Below Poverty,Not Married,Rent,Employed,"MSA, Not Principle City",0.0,0.0,0
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,White,Male,"<= $75,000, Above Poverty",Not Married,Own,Employed,"MSA, Not Principle City",2.0,0.0,0
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,White,Female,Below Poverty,Not Married,Rent,Not in Labor Force,"MSA, Principle City",0.0,0.0,0
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,White,Female,"<= $75,000, Above Poverty",Married,Own,Employed,"MSA, Not Principle City",1.0,0.0,0

In [8]:
vaccine_data.shape

(26707, 34)

In [9]:
vaccine_data.info()
vaccine_data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 34 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   unique_id                  26707 non-null  int64
 1   h1n1_worry                 26615 non-null  float64
 2   h1n1_awareness             26591 non-null  float64
 3   antiviral_medication       26636 non-null  float64
 4   contact_avoidance          26499 non-null  float64
 5   bought_face_mask           26688 non-null  float64
 6   wash_hands_frequently      26665 non-null  float64
 7   avoid_large_gatherings     26620 non-null  float64
 8   reduced_outside_home_cont  26625 non-null  float64
 9   avoid_touch_face           26579 non-null  float64
 10  dr_recc_h1n1_vacc          24547 non-null  float64
 11  dr_recc_seasonal_vacc      24547 non-null  float64
 12  chronic_medic_condition    25736 non-null  float64
 13  cont_child_undr_6_mnths    25887 non-null  float64
 14  is_health_worker           25903 non-null  float64
 15  has_health_insur           14433 non-null  float64
 16  is_h1n1_vacc_effective     26316 non-null  float64
 17  is_h1n1_risky              26319 non-null  float64
 18  sick_from_h1n1_vacc        26312 non-null  float64
 19  is_seas_vacc_effective     26245 non-null  float64
 20  is_seas_risky              26193 non-null  float64
 21  sick_from_seas_vacc        26170 non-null  float64
 22  age_bracket                26707 non-null  object
 23  qualification              25300 non-null  object
 24  race                       26707 non-null  object
 25  sex                        26707 non-null  object
 26  income_level               22284 non-null  object
 27  marital_status             25299 non-null  object
 28  housing_status             24665 non-null  object
 29  employment                 25244 non-null  object
 30  census_msa                 26707 non-null  object
 31  no_of_adults               26458 non-null  float64
 32  no_of_children             26458 non-null  float64
 33  h1n1_vaccine               26707 non-null  int64
dtypes: float64(23), int64(2), object(9)
memory usage: 6.9+ MB

,unique_id,h1n1_worry,h1n1_awareness,antiviral_medication,contact_avoidance,bought_face_mask,wash_hands_frequently,avoid_large_gatherings,reduced_outside_home_cont,avoid_touch_face,...,has_health_insur,is_h1n1_vacc_effective,is_h1n1_risky,sick_from_h1n1_vacc,is_seas_vacc_effective,is_seas_risky,sick_from_seas_vacc,no_of_adults,no_of_children,h1n1_vaccine
count,26707.000000,26615.000000,26591.000000,26636.000000,26499.000000,26688.000000,26665.000000,26620.00000,26625.000000,26579.000000,...,14433.00000,26316.000000,26319.000000,26312.000000,26245.000000,26193.000000,26170.000000,26458.000000,26458.000000,26707.000000
mean,13353.000000,1.618486,1.262532,0.048844,0.725612,0.068982,0.825614,0.35864,0.337315,0.677264,...,0.87972,3.850623,2.342566,2.357670,4.025986,2.719162,2.118112,0.886499,0.534583,0.212454
std,7709.791156,0.910311,0.618149,0.215545,0.446214,0.253429,0.379448,0.47961,0.472802,0.467531,...,0.32530,1.007436,1.285539,1.362766,1.086565,1.385055,1.332950,0.753422,0.928173,0.409052
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,6676.500000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.00000,0.000000,0.000000,...,1.00000,3.000000,1.000000,1.000000,4.000000,2.000000,1.000000,0.000000,0.000000,0.000000
50%,13353.000000,2.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.00000,0.000000,1.000000,...,1.00000,4.000000,2.000000,2.000000,4.000000,2.000000,2.000000,1.000000,0.000000,0.000000
75%,20029.500000,2.000000,2.000000,0.000000,1.000000,0.000000,1.000000,1.00000,1.000000,1.000000,...,1.00000,5.000000,4.000000,4.000000,5.000000,4.000000,4.000000,1.000000,1.000000,0.000000
max,26706.000000,3.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,...,1.00000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,3.000000,3.000000,1.000000

In [10]:
vaccine_data.isnull().sum()

unique_id                        0
h1n1_worry                      92
h1n1_awareness                 116
antiviral_medication            71
contact_avoidance              208
bought_face_mask                19
wash_hands_frequently           42
avoid_large_gatherings          87
reduced_outside_home_cont       82
avoid_touch_face               128
dr_recc_h1n1_vacc             2160
dr_recc_seasonal_vacc         2160
chronic_medic_condition        971
cont_child_undr_6_mnths        820
is_health_worker               804
has_health_insur             12274
is_h1n1_vacc_effective         391
is_h1n1_risky                  388
sick_from_h1n1_vacc            395
is_seas_vacc_effective         462
is_seas_risky                  514
sick_from_seas_vacc            537
age_bracket                      0
qualification                 1407
race                             0
sex                              0
income_level                  4423
marital_status                1408
housing_status                2042
employment                    1463
census_msa                       0
no_of_adults                   249
no_of_children                 249
h1n1_vaccine                     0
dtype: int64

In [11]:
#Importing Data Auditor custom made function
class Data_Auditor:
    def NA_in_Data(data_frame):
        result = (data_frame.isnull().sum().sum()) / (data_frame.shape[0] * data_frame.shape[1]) * 100
        return(print("Data has",round(result,2),"% NA's"))

    def Remove_Columns(data_frame,*args):
        list_of_cols = list(args)
        data_frame.drop(list_of_cols,axis = 1,inplace = True)

    def NA_in_Columns(data_frame):
        total_missing = data_frame.isnull().sum().sort_values(ascending=False)
        percent_missing = round(((data_frame.isnull().sum()/data_frame.isnull().count()).sort_values(ascending=False)*100),1)
        missing_data = pd.concat([total_missing, percent_missing], axis=1, keys=['Missing_Obs', 'Percent_of_NA'])
        return(missing_data.head(10))

    def Most_Frequent_Data(data_frame,Column):
        Count = data_frame[Column].value_counts()
        Percentage = round(((data_frame[Column].value_counts()/data_frame.shape[0])*100),2)
        Summary_data = pd.concat([Count, Percentage], axis=1, keys=['Count','Percentage'])
        return(Summary_data)

    def Remove_Outlier(data_frame,low,high):
        quant_df = data_frame.quantile([low, high])
        for cols in list(data_frame.columns):
            if data_frame[cols].dtypes == 'float64' or data_frame[cols].dtypes == 'int64':
                df = data_frame[(data_frame[cols] > quant_df.loc[low, cols]) & (data_frame[cols] < quant_df.loc[high, cols])]
                return(df)

    def Remove_Multicollinearity(data_frame,threshold):
        corr_matrix = data_frame.corr().abs() # Create correlation matrix
        upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool)) # Select upper triangle of correlation matrix
        to_drop = [column for column in upper.columns if any(upper[column] > threshold)]# Find features with correlation greater than threshold
        data_frame.drop(to_drop, axis=1, inplace=True)# Drop features
        print(to_drop,'is removed')

In [12]:
Data_Auditor.NA_in_Data(vaccine_data)

Data has 3.74 % NA's

In [13]:
Data_Auditor.NA_in_Columns(vaccine_data)

                         Missing_Obs  Percent_of_NA
has_health_insur               12274           46.0
income_level                    4423           16.6
dr_recc_h1n1_vacc               2160            8.1
dr_recc_seasonal_vacc           2160            8.1
housing_status                  2042            7.6
employment                      1463            5.5
marital_status                  1408            5.3
qualification                   1407            5.3
chronic_medic_condition          971            3.6
cont_child_undr_6_mnths          820            3.1

In [14]:
# as it has max data in NA around 50% we are deleting the has_health _imsur
del vaccine_data['has_health_insur']

In [15]:
Data_Auditor.Most_Frequent_Data(vaccine_data,'income_level')

                           Count  Percentage
<= $75,000, Above Poverty  12777       47.84
> $75,000                   6810       25.50
Below Poverty               2697       10.10

In [16]:
Data_Auditor.Most_Frequent_Data(vaccine_data,'dr_recc_seasonal_vacc')

     Count  Percentage
0.0  16453       61.61
1.0   8094       30.31

In [17]:
Data_Auditor.Most_Frequent_Data(vaccine_data,'housing_status')

      Count  Percentage
Own   18736       70.15
Rent   5929       22.20

In [18]:
NA_cols =['income_level','dr_recc_h1n1_vacc','dr_recc_seasonal_vacc','housing_status','employment','marital_status','qualification',
         'chronic_medic_condition','cont_child_undr_6_mnths']

for cols in NA_cols:
    vaccine_data[cols].fillna(vaccine_data[cols].mode()[0], inplace= True)
    print("NA's in column",cols,"re filled")

NA's in column income_level re filled
NA's in column dr_recc_h1n1_vacc re filled
NA's in column dr_recc_seasonal_vacc re filled
NA's in column housing_status re filled
NA's in column employment re filled
NA's in column marital_status re filled
NA's in column qualification re filled
NA's in column chronic_medic_condition re filled
NA's in column cont_child_undr_6_mnths re filled

In [19]:
round(vaccine_data.corr()['h1n1_vaccine'],2)

unique_id                   -0.00
h1n1_worry                   0.12
h1n1_awareness               0.12
antiviral_medication         0.04
contact_avoidance            0.05
bought_face_mask             0.07
wash_hands_frequently        0.07
avoid_large_gatherings       0.02
reduced_outside_home_cont    0.02
avoid_touch_face             0.07
dr_recc_h1n1_vacc            0.39
dr_recc_seasonal_vacc        0.22
chronic_medic_condition      0.09
cont_child_undr_6_mnths      0.07
is_health_worker             0.17
is_h1n1_vacc_effective       0.27
is_h1n1_risky                0.32
sick_from_h1n1_vacc          0.08
is_seas_vacc_effective       0.18
is_seas_risky                0.26
sick_from_seas_vacc          0.01
no_of_adults                 0.01
no_of_children              -0.00
h1n1_vaccine                 1.00
Name: h1n1_vaccine, dtype: float64

In [20]:
vaccine_data.isnull().sum()

unique_id                      0
h1n1_worry                    92
h1n1_awareness               116
antiviral_medication          71
contact_avoidance            208
bought_face_mask              19
wash_hands_frequently         42
avoid_large_gatherings        87
reduced_outside_home_cont     82
avoid_touch_face             128
dr_recc_h1n1_vacc              0
dr_recc_seasonal_vacc          0
chronic_medic_condition        0
cont_child_undr_6_mnths        0
is_health_worker             804
is_h1n1_vacc_effective       391
is_h1n1_risky                388
sick_from_h1n1_vacc          395
is_seas_vacc_effective       462
is_seas_risky                514
sick_from_seas_vacc          537
age_bracket                    0
qualification                  0
race                           0
sex                            0
income_level                   0
marital_status                 0
housing_status                 0
employment                     0
census_msa                     0
no_of_adults                 249
no_of_children               249
h1n1_vaccine                   0
dtype: int64

In [21]:
Data_Auditor.NA_in_Columns(vaccine_data)

                        Missing_Obs  Percent_of_NA
is_health_worker                804            3.0
sick_from_seas_vacc             537            2.0
is_seas_risky                   514            1.9
is_seas_vacc_effective          462            1.7
sick_from_h1n1_vacc             395            1.5
is_h1n1_vacc_effective          391            1.5
is_h1n1_risky                   388            1.5
no_of_adults                    249            0.9
no_of_children                  249            0.9
contact_avoidance               208            0.8

In [22]:
NA_cols =['is_health_worker','sick_from_seas_vacc','is_seas_risky','is_seas_vacc_effective','sick_from_h1n1_vacc','is_h1n1_vacc_effective','no_of_children',
         'is_h1n1_risky','no_of_adults','contact_avoidance']

for cols in NA_cols:
    vaccine_data[cols].fillna(vaccine_data[cols].mode()[0], inplace= True)
    print("NA's in column",cols,"re filled")

NA's in column is_health_worker re filled
NA's in column sick_from_seas_vacc re filled
NA's in column is_seas_risky re filled
NA's in column is_seas_vacc_effective re filled
NA's in column sick_from_h1n1_vacc re filled
NA's in column is_h1n1_vacc_effective re filled
NA's in column no_of_children re filled
NA's in column is_h1n1_risky re filled
NA's in column no_of_adults re filled
NA's in column contact_avoidance re filled

In [23]:
vaccine_data.isnull().sum()

unique_id                      0
h1n1_worry                    92
h1n1_awareness               116
antiviral_medication          71
contact_avoidance              0
bought_face_mask              19
wash_hands_frequently         42
avoid_large_gatherings        87
reduced_outside_home_cont     82
avoid_touch_face             128
dr_recc_h1n1_vacc              0
dr_recc_seasonal_vacc          0
chronic_medic_condition        0
cont_child_undr_6_mnths        0
is_health_worker               0
is_h1n1_vacc_effective         0
is_h1n1_risky                  0
sick_from_h1n1_vacc            0
is_seas_vacc_effective         0
is_seas_risky                  0
sick_from_seas_vacc            0
age_bracket                    0
qualification                  0
race                           0
sex                            0
income_level                   0
marital_status                 0
housing_status                 0
employment                     0
census_msa                     0
no_of_adults                   0
no_of_children                 0
h1n1_vaccine                   0
dtype: int64